body{
    margin-top:2rem;
     color:white;
     font-family:'Arial Narrow Bold',sans-serif;
    text-align: center;
   background-color:rgb(113,117,109);
}
h1{
    font-size:2.2rem;
    font-weight:800;
}
h2:hover{
   font-family:'Courier New';
     font-size:1.1rem;
    border-bottom: 1px solid black;
}
h2{
   width:20rem;
    margin-left:38rem;
    font-size:1rem;
    box-shadow :0 0 1rem rgba(237, 183, 183, 0.8);
    border-radius: 5rem;
}
@media (max-width:991px){
    h2{
    margin-left:19rem;
    }
}
@media (max-width:700px){
    h2{
        width:15rem;
    margin-left:9rem;
    }
}
@media (max-width:448px){
    h2{
        width:12rem;
    margin-left:7rem;
    }
}
.btn{
    margin:5px;
    height:100px;
    width:100px;
        border-radius: 10px;
    border:solid black 4px;
    display:inline-flex;
    justify-content: center;
}
.red{
    background-color: rgb(226, 24, 24); 
    margin-top:6rem;
}
.green{
   margin-top:6rem;
    background-color: rgb(53, 137, 74);
}
.yellow{
   background-color: rgb(230, 224, 64);
}
.purple{
    background-color: rgb(99, 99, 246);
}
.flash{
    background-color: white;
    box-shadow:0 0 1 rgb(137, 130, 130);
    
}
.userflash{
        background-color: green;
    }
